<!DOCTYPE html>
<head>
    <title>Upload</title>

    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"/>
</head>
<body>
	<!-- <div class="limiter"> -->
        <!-- <div class="container"> -->
            <!-- <div class="wrap"> -->
                <!-- <div class="container-login-btn"> -->
                	<title>File Manager</title>
					<h1>File Manager</h1>
					<a href="{{ url_for('test') }}">Upload</a> /
					<a href="{{ url_for('manage_file') }}">Manage</a>
					<hr>

					{% for fasta in files_list %}
					    - {{ fasta }}
					    <a href="{{ url_for('open_file', filename=fasta) }}">open</a>
					    <a href="{{ url_for('delete_file', filename=fasta) }}">del</a><br>
					{% endfor %}
				<!-- </div> -->
			<!-- </div> -->
		<!-- </div> -->
	<!-- </div> -->


</body>
</html>